@import '../App.scss';

.carousel {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  padding: 2rem 0;
  overflow: scroll;
  width: 100%;
  &__container {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: nowrap;
    width: 100%;
  }
  /* &__title {
    display: block;
    text-align: left;
  } */
  &__item {
    @include border-radius-all(1rem);
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 200px;
    height: 250px;
    margin-right: 1rem;
    position: relative;
    opacity: 0.75;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: center left;
    width: 200px;
    &:hover {
      opacity: 1;
      transform: scale(1.25);
      img {
        opacity: 1;
      }
      ~ .carousel__item {
        transform: translate3d(60px, 0, 0);
      }
    }
    img {
      display: flex;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &__details {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
      h5 {
        margin-bottom: 0;
      }
      p {
        font-size: 0.75rem;
        margin-top: 0;
      }
    }
  }
}