html {
  font-size: 18px;
}

body {
  background: linear-gradient(#3f325d, $purple-dark);
  color: $white;
  @include font-family('normal');
  font-size: 1rem;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: $white;
  &:hover {
    text-decoration: underline;
  }
}

input {
  background: rgba($white, 0.1);
  border: 1px solid rgba($white, 0.15);
  font-size: 0.85rem;
  @include border-radius-all(1rem);
  padding: 0.5rem 1rem;
  color: white;
  outline: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.btn {
  background: $green;
  border: none;
  color: $white;
  outline: none;
  font-size: 0.85rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: center;
  @include border-radius-all(1rem);
  &:hover {
    background: $purple;
  }
}

.no-styles-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}
