.error404 {
  @extend .flex;
  justify-content: center;
  position: relative;
  padding-right: 2rem;
  overflow: visible;
  &__container {
    @extend .flex;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
      position: relative;
      max-width: 220px;
      align-self: center;
      line-height: 4.5rem;
      span {
        transform: rotate(180deg);
        display: inline-block;
        transform-origin: center bottom;
        animation: rotate4 2s linear;
        animation-iteration-count: infinite;
      }
    }
  }
}

.matrix {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  &:before,
  &:after {
    content: ' ';
    background: white;
    height: 1rem;
    width: 1rem;
    display: block;
    @include border-radius-all(1rem);
    position: absolute;
    top: 1rem;
    right: 1rem;
    animation: matrixAnimation 2s linear;
    animation-iteration-count: infinite;
    opacity: 0.5;
  }
  &:after {
    width: 2rem;
    bottom: 1rem;
    top: initial;
    animation-duration: 2.5s;
  }
  &--dos {
    &::before {
      bottom: initial;
      top: 20%;
      animation-duration: 3s;
    }
    &::after {
      bottom: 15%;
      top: initial;
      animation-duration: 1.8s;
    }
  }
  &--tres {
    &::before {
      bottom: 40%;
      animation-duration: 5s;
    }
    &::after {
      top: 40%;
      animation-duration: 3.5s;
      -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

@keyframes matrixAnimation {
  0% {
    right: 0;
    opacity: 0.5;
  }

  100% {
    right: 100vw;
    opacity: 0;
  }
}

@keyframes rotate4 {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(160deg);
  }
}
