.header {
  height: 100px;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
  &__logo {
    flex: 0 1 200px;
    display: inline-flex;
    //align-self: center;
    img {
      max-width: 100%;
    }
  }

  &__login {
    flex-direction: row;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.5rem 0;
    &__container {
      display: flex;
      align-content: center;
    }
    &:hover {
      ul {
        display: flex;
      }
    }
    &__icon {
      display: flex;
      font-size: 1.5rem;
      margin-right: 1rem;
    }
    > span {
      display: flex;
    }
    ul {
      flex: 0 0 100%;
      flex-direction: column;
      align-items: flex-end;
      @extend .no-styles-list;
      display: none;
      li {
        margin-bottom: 0.35rem;
      }
    }
  }

  @media screen and (max-width: 380px) {
    &__logo {
      max-width: 132px;
    }
    &__login {
      margin-left: 2rem;
      font-size: 0.85rem;
      padding: 0.25rem 0;
      &__icon {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }
}
